
<picture>
  <!-- <source srcset="../../assets/images/blog/eco7.png" type="image/svg+xml"> -->
  <img src="../../assets/images/blog/eco7.png" class="img-fluid " alt="...">
</picture>


<div class="container">
  <div class="parte">

      <div class="row mb-5">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h1 class="display-6">Economía circular en el ciclo del agua: muy lejos del objetivo</h1>
        </div>
        
        <div class="col-lg-8 col-md-8 col-sm-12">
          <p class="lead">
            A tenor de dos hechos acaecidos esta semana, me he preguntado ¿Cuál es el papel de los técnicos en las administraciones públicas y 
            si la opinión pública estaría conforme con el mismo? y, lo que es más importante ¿Están los técnicos contentos con su papel secundario?
          </p>
        </div>
      </div>

    <hr>

    <div class="row mt-3">
      <div class="col-sm-12">
        <ol class="listaBlog">
          <li>
            <p class="h6">Primer hecho</p>
            <p>Un técnico preparó unos contratos menores para reparar varios desperfectos en la red de abastecimiento que presentaba pérdidas de agua debido 
            a su mal estado. Mientras, la red de abastecimiento seguirá perdiendo agua potable y socavando el terreno.</p>
          </li>
          <li>
            <p class="h6">Segundo hecho</p>
            <p>convocado un concurso para la construcción de una Estación Depuradora de Aguas Residuales (EDAR) de más de 100.000 habitantes sobre la base de un proyecto ejecutado en el año 2017.</p>
          </li>
          <li>
            <p class="h6">Tercer hecho</p>
            <p>La propuesta seleccionada en su día, era una aireación prolongada con un consumo de 1 Kwh/m3 de agua depurada. Han pasado mas de cinco años y lo que, antes parecía una buena solución, en los tiempos que corren es una solución indeseable, lejos de la economía circular de la que tanta gala hacemos en el Ciclo Integral del Agua (CIA).</p>
          </li>
      </ol>
      </div>
    </div>

  </div>


  <h3>Reparar, la clave para avanzar en economía circular del material deportivo.
    La practica deportiva no solo permite  mantener un buen estado físico, sino ayudar a la conservación del entorno a través de iniciativas que dan una segunda vida a productos como bicicletas, raquetas, esquís, tablas de surf, tiendas de campaña, entre otros.
  </h3>
  
  <p>
    Adrián Hervella le ha inculcado su interés por el deporte a Xoel, su hijo, pero le preocupa que la bicicleta pronto se quede pequeña. Hace las cuentas, y como además le interesa reemplazar la que usa para subir las montañas de su nativa Galicia, "no salen los números", afirma.

Aquí entran talleres de reparación de grandes mayoristas que ofrecen productos más baratos de segunda mano y al mismo tiempo garantizan la calidad del arreglo. “Está en manos de las empresas dar opciones que sean realmente atractivas sin hacer elegir al usuario entre un precio razonable y un producto costoso pero amigable con el medioambiente”, dice a EFEverde Adrián Hervella, director de sostenibilidad en Decathlon, durante una visita al centro de revisión y reacondicionamiento en Getafe.

En lugar de comprarle una bicicleta nueva a su hijo, Hervella optó por alquilarla porque "un día Xoel dejará de tener cuatro años", enfatiza. No obstante, señala que el servicio de renta no es igual de popular entre el público adulto, pues prefieren adquirir una propia. Ante esto, Hervella resalta que "comprar productos de segunda mano puede ser entre 20 y 45% más barato que adquirir uno nuevo", además de poder contar con equipos de alta gama más baratos.

La estrategia, entonces, explica Hervella, es comprar al usuario artículos como máscaras de buceo, caminadoras, mochilas, raquetas, relojes, entre otros, sin importar la marca. El viaje de estos productos continúa hasta el taller más cercano para revisarlos y ponerlos a punto para su nuevo uso. Luego, vuelven a las vitrinas de sus almacenes y en la plataforma digital Wallapop, además, con un año de garantía. Sería el equivalente a un vehículo seminuevo.
  </p>

</div>