<div class="container px-1 py-5 mx-auto contact-form">
    <h2>Solicitanos información</h2>
    <p class="text-primary text-center">Envianos tus datos<br> y nos pondremos en contacto contigo para informarte.</p>
    <div class="card" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/images/contact_form.jpg" class="img-fluid rounded-start" alt="imagen formulario" loading="lazy">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title mb-4">Formulario de Contacto</h5>
                    <form class="row g-3" class="form_contact" netlify>
                        <div class="col-md-6">
                            <label for="name1" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="name1" required>
                        </div>
                        <div class="col-md-6">
                            <label for="name2" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="name2">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Dirección:</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-md-9">
                            <label for="input_email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="input_email" placeholder="user@uoc.edu" required>
                        </div>
                        <div class="col-md-3">
                            <label for="inputZip" class="form-label">Código Postal:</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>

                        <div class="col-md-4">
                            <label for="inputCity" class="form-label">Ciudad:</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Provincia:</label>
                            <select id="inputState" class="form-select">
                                <option selected="" value="0">Seleccionar...</option>
                                <option value="1">Alicante</option>
                                <option value="2">Valencia</option>
                                <option value="3">Castellón</option>
                                <option value="4">Murcia</option>
                                <option value="5">Albacete</option>
                                <option value="6">Tarragona</option>
                                <option value="7">Barcelona</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="inputPais" class="form-label">País:</label>
                            <input type="text" class="form-control" id="inputPais" value="España" disabled>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="politicaCH" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    He leído y acepto la política de datos
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" disabled id="submitForm"><i class="fa fa-paper-plane"></i> Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div aria-live="polite" aria-atomic="true">
        <div class="toast-container position-absolute p-3" id="toast-container" style="z-index:9;"></div>
    </div>
    
</div>
