<div class="container">
  <h1 class="my-3 text-center">
      Conferenciantes<br>
      <small class="text-body-secondary">Intenta no perderte ninguna</small>
  </h1>

  <div class="flex-grid">

      <div class="card flex-item" style="width: 18rem;">
          <img src="../../assets/images/ponentes/p2.jpg" class="card-img-top" alt="Foto user speaker">
          <div class="card-body">
            <h5 class="card-title">Yoana Alcalá Trejo</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ponencia 1</h6>
            <p class="card-text">Grado en Administración y Dirección de Empresas (ADE) actualmente trabajo en SUMA.</p>
            <p class="card-text text-end"><small class="text-body-secondary">6 de junio 9:00</small></p>
            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
          </div>
      </div>

      <div class="card flex-item" style="width: 18rem;">
          <img src="../../assets/images/ponentes/p4.jpg" class="card-img-top" alt="Foto user speaker">
          <div class="card-body">
            <h5 class="card-title">Marcelo Rivero Ceballos</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ponencia 2</h6>
            <p class="card-text">Grado en Finanzas y Contabilidad actualmente trabajo como asesor público.</p>
            <p class="card-text text-end"><small class="text-body-secondary">13 de junio 9:00</small></p>
            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
          </div>
      </div>

      <div class="card flex-item" style="width: 18rem;">
          <img src="../../assets/images/ponentes/p5.jpg" class="card-img-top" alt="Foto user speaker">
          <div class="card-body">
            <h5 class="card-title">Caren Roybal Maya</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ponencia 3</h6>
            <p class="card-text">Doble grado en Economía y Matemáticas soy profesor de instituto y universidad.</p>
            <p class="card-text text-end"><small class="text-body-secondary">4 de julio 8:00</small></p>
            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
          </div>
      </div>

      <div class="card flex-item" style="width: 18rem;">
          <img src="../../assets/images/ponentes/p2.jpg" class="card-img-top" alt="Foto user speaker">
          <div class="card-body">
            <h5 class="card-title">Yoana Alcalá Trejo</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ponencia 4</h6>
            <p class="card-text">Grado en Administración y Dirección de Empresas (ADE) actualmente trabajo en SUMA.</p>
            <p class="card-text text-end"><small class="text-body-secondary">18 de julio 8:30</small></p>
            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
          </div>
      </div>

      <div class="card flex-item" style="width: 18rem;">
        <div class="avatar"><img src="../../assets/images/ponentes/p1.jpg" class="card-img-top" alt="Foto user speaker"></div>
          <div class="card-body">
            <h5 class="card-title">Alfonso J. Ferrando Puigcerver</h5>
            <h6 class="card-subtitle mb-2 text-muted">Organizador</h6>
            <p class="card-text">Estudiante de la UOC del Master Universitario en Desarrollo de sitios y aplicaciones web asignatura Herramientas HTML y CSS II.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
          </div>
      </div>

  </div>
</div>