
<h1 class="my-3 text-center">
    Conferenciantes<br>
    <small class="text-body-secondary">Intenta no perderte ninguna</small>
</h1>

<div class="flex-grid">

    <div class="card flex-item" style="width: 18rem;">
        <img src="../../assets/images/ponentes/p2.jpg" class="card-img-top" alt="Foto user speaker">
        <div class="card-body">
          <h5 class="card-title">Ponente 1</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
        </div>
    </div>

    <div class="card flex-item" style="width: 18rem;">
        <img src="../../assets/images/ponentes/p3.jpg" class="card-img-top" alt="Foto user speaker">
        <div class="card-body">
          <h5 class="card-title">Ponente 2</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
        </div>
    </div>

    <div class="card flex-item" style="width: 18rem;">
        <img src="../../assets/images/ponentes/p3.jpg" class="card-img-top" alt="Foto user speaker">
        <div class="card-body">
          <h5 class="card-title">Ponente 3</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
        </div>
    </div>

    <div class="card flex-item" style="width: 18rem;">
        <img src="../../assets/images/ponentes/p2.jpg" class="card-img-top" alt="Foto user speaker">
        <div class="card-body">
          <h5 class="card-title">Ponente 4</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
        </div>
    </div>

    <div class="card flex-item" style="width: 18rem;">
      <img src="../../assets/images/ponentes/p1.jpg" class="card-img-top" alt="Foto user speaker">
        <div class="card-body">
          <h5 class="card-title">Ponente 5</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary"><i class="fa fa-plus"></i> Info</a>
        </div>
    </div>

</div>
