.uoc-footer {
    background-color: $uoc-corporate;
    color: white;
    padding: 1.5rem;
    font-size: 18px;
    font-weight: 700;
}

.uoc-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    max-width: 200px;
    height: auto;
    @media (min-width: $mqMinWidth) {
      max-width: none;
    }
  }