.flex-grid {
    display: flex; /* Makes this a true flex container! */
    // flex-direction: row;
    // justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
//box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
.flex-item {
    margin: 10px;
}

.avatar {
    margin: auto;
    max-width: 230px;
    background-color: $uoc-body;
}