<footer class="fixed-bottom">

  <nav class="navbar sticky-bottom navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-piggy-bank"></i> Cerrando el Circulo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent3">
        
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Participantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>

        <!-- Social Media -->
        <ul class="navbar-nav md-icons sm-icons">
          <li><a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></li>          
        </ul>

      </div>
    </div>
  </nav>

  <div class="row uoc-footer">
    <div class="col-md-4 col-sm-12">
      <picture>
        <source srcset="./assets/images/logo.png?as=webp&width=350" type="image/webp" />
        <img src="./assets/images/logo.png?width=350" alt="Universitat Oberta de Catalunya" class="uoc-logo" />
      </picture>
    </div>
    <div class="col-md-8 col-sm-12">
      <p>Sitio Web Creado para el Ayuntamiento de Callosa d'en Sarrià para la economía circular.</p>
      <p>Alfonso J. Ferrando Puigcerver</p>
      <p>UOC- Herramientas HTML CSS II</p>
      <p>&copy; Abril 2025</p>
    </div>
  </div>
</footer>
